@mixin font ($size, $color, $family, $weight) {
  font-size: $size;
  font-family: $family;
  color: $color;
  font-weight: $weight;
}

.mainContainer {
  position: relative;

    .weatherIcon {
      position: absolute;
      width: 120px;
      height: auto;
      right: 0;
      top: 0;
    }
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;

  .city {
    @include font (24px, black, 'Inter, sans-serif', 400)
  }

  .temp {
    @include font (44px, black, 'Inter, sans-serif', 700)
  }
}



